@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fb64b725;
}

::-webkit-scrollbar-thumb {
  background-color: #a3054f;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e41a86;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.select-none {
  -webkit-touch-callout: none;
}

/* Links */
@layer components {
  .link-base {
    @apply rounded-full
      text-center
      p-1 px-10
      cursor-pointer
      bg-pink-950
      ring-2
      ring-pink-600;
  }
}

/* Dropdowns */
@layer base {
  select {
    @apply appearance-none
      bg-neutral-900
      inset-shadow-sm inset-shadow-neutral-900/20
      rounded-xl
      px-2 py-3
      w-full
      outline-none
      border-1
      border-white/20
      text-center
      text-neutral-100
      placeholder:text-neutral-400
      font-sans tracking-normal
      transition
      focus:ring-2 focus:ring-neutral-700;
  }
}

/* Buttons */
@layer base {
  button {
    @apply text-center
      cursor-pointer;
  }
}

/* Spinner for loading states */
@layer components {
  .spinner {
    @apply size-4 
      border-2 
      border-white 
      border-l-white/0 
      rounded-full 
      animate-spin;
  }
}

@layer components {
  .overlay {
    @apply fixed inset-0
      backdrop-blur-[4px]
      bg-black/50 z-50
  }

  .secondary-button {
    @apply w-full p-2 
     bg-neutral-950 rounded-lg
     shadow-[0_3px_0_rgba(0,0,0,0.95)];
  }

  .button-base {
    @apply w-full 
      p-2 
      bg-pink-700
      rounded-lg
      shadow-[0_3px_0_rgba(134,16,67,0.95)];
  }

  .notes-base {
    @apply flex flex-col 
      rounded-xl        
      p-2 mb-4 text-start 
      border-2 border-white/40 
      cursor-pointer select-none 
      relative break-inside-avoid
      shadow-xl/30 shadow-neutral-900 
      bg-neutral-900;
  }

  .input-base {
    @apply appearance-none
      outline-none
      font-sans tracking-normal
      transition;
  }
}
