@import "tailwindcss";

body{
  background-color: black;
  color: white;
  margin: 15px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  h1 {
    @apply
      font-bold
      text-2xl
      py-3
      text-center
  }
}
@layer components {
  .link-base {
    @apply
      bg-rose-500
      border-rose-300
      border-1
      md:border-2
      rounded-lg
      w-full
      text-center
      p-2
      cursor-pointer
  }
}

/* Inputs */
@layer base {
  input {
    @apply 
      appearance-none
      bg-neutral-900
      inset-shadow-sm inset-shadow-neutral-900/20
      rounded
      px-2 py-3
      w-full
      outline-none
      text-neutral-100
      placeholder:text-neutral-400
      font-sans tracking-normal
      transition
      focus:ring-2 focus:ring-neutral-700;
  }
}

/* Dropdowns */
@layer base {
  select {
    @apply 
      appearance-none
      bg-neutral-900
      inset-shadow-sm inset-shadow-neutral-900/20
      rounded-xl
      px-2 py-3
      w-full
      outline-none
      border-1
      border-white/20
      text-center
      text-neutral-100
      placeholder:text-neutral-400
      font-sans tracking-normal
      transition
      focus:ring-2 focus:ring-neutral-700;
  }
}

@layer base {
  button {
    @apply
      bg-neutral-700
      border-neutral-500
      border-1
      md:border-2
      rounded-lg
      text-white/70
      w-full
      text-center
      p-2
      cursor-pointer
  }
}