@import "tailwindcss";

body{
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
@layer components {
  .statistics-base {
    @apply
      ring-1 ring-white
      shadow-[0_0_10px_2px_rgba(255,255,255,0.4)]
      rounded
      p-2
      box-content
      flex flex-col
  }
}

/* h1 */
@layer base {
  h1 {
    @apply
      font-bold
      text-2xl
      py-3
      text-center
  }
}

/* Links */
@layer components {
  .link-base {
    @apply
      rounded-xl
      w-full
      text-center
      p-2
      cursor-pointer
      bg-pink-950
      ring-2
      ring-pink-600
      shadow-xl/30 shadow-pink-800
  }
}

/* Inputs */
@layer base {
  input {
    @apply 
      appearance-none
      bg-neutral-900
      inset-shadow-sm inset-shadow-zinc-950
      rounded-2xl
      px-2 py-4 pl-3
      w-full
      outline-none
      text-neutral-100
      placeholder:text-neutral-400/50
      font-sans tracking-normal
      transition
      focus:ring-2 focus:ring-neutral-700;
  }
}

/* Dropdowns */
@layer base {
  select {
    @apply 
      appearance-none
      bg-neutral-900
      inset-shadow-sm inset-shadow-neutral-900/20
      rounded-xl
      px-2 py-3
      w-full
      outline-none
      border-1
      border-white/20
      text-center
      text-neutral-100
      placeholder:text-neutral-400
      font-sans tracking-normal
      transition
      focus:ring-2 focus:ring-neutral-700;
  }
}

/* Buttons */
@layer base {
  button {
    @apply
      border-neutral-500/50
      border-1
      md:border-2
      rounded-lg
      text-white/70
      w-full
      text-center
      p-2
      cursor-pointer
  }
}

/* Spinner for loading states */
@layer components {
  .spinner {
    @apply
      size-4 
      border-2 
      border-white 
      border-l-white/0 
      rounded-full 
      animate-spin
  }
}